h1 {
 color: green;
 background-color: orange;
}
h2 {
 color: purple;
 background-color: red;
}
h3 {
 background-color: lightgreen;
 color: green;
}
h4 {
 color: yellow;
 background-color: green;
}
ol, ul {
 color: grey;
 background-color: lightblue;
}
p {
   background-color: purple;
   color: grey;
}
body {
 background-color: blue;
}
#Pledge {
 background-color: blue;
 color: black;
}
.Yellow {
 color: rgb(255, 255, 0);
}
.blue {
 color: rgb(0, 128, 255);
}
.purple {
 color: purple;
}
.red {
 color: red;
}
.Songs {
 color: purple;
 background-color: yellow;
}
#go-to-swim-school {
   color: red;
   background-color:aliceblue;
}

#info {
   color: green;
}