h1 {
 color: green;
 background-color: orange;
 font-family: monospace;
 font-size: 4em;
 position: fixed;
 left: 1100px;
 bottom: 100px;
}
h2 {
 color: purple;
 background-color: red;
 font-size: 3em;
}
h3 {
 background-color: lightgreen;
 color: green;
 font-size: 2em;
}
h4 {
 color: yellow;
 background-color: green;
}
ol, ul {
 color: grey;
 background-color: lightblue;
}
p {
   background-color: purple;
   color: grey;
}
body {
 background-color: blue;
 font-size: 10px;
}
#Pledge {
 background-color: blue;
 color: black;
 font-family: fantasy;
}
.Yellow {
 color: rgb(255, 255, 0);
}
.blue {
 color: rgb(0, 128, 255);
}
.purple {
 color: purple;
}
.red {
 color: red;
}
.Songs {
 color: purple;
 background-color: yellow;
 font-family: cursive;
 font-style: italic;
 line-height: 6em;
 text-align: center;
}
#go-to-swim-school {
   color: red;
   background-color:aliceblue;
}

#info {
   color: green;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   text-decoration: underline;
}
a {
   color:red;
   font-size: 13px;
}
table {
   color: white;
}
#important {
   background: grey;
   width: 70%;
   height: 180px;
   overflow-y: auto;
   overflow-x: auto;
   margin: 15px 0px 10px 6px;
   border: 2px dashed rgb(161, 161, 161);
   padding: 6px;
   
}
img {
   width: 120px;
   margin-right: 10px;
}

#aqua_tot_img {
  float: left;
  clear: both;
  margin-right: 8px;
}
#L4V {
   float: right;
   width: 30%;
   margin-bottom: 10px;
}
.fact {
  border: 1px solid rgb(43, 848, 54);
}
.warning {
   background-color: red;
   color: white;
}

h5.warning {
   border: 5px solid orange;
}
p .warning {
   color: red;
   background-color: transparent;
}